@model SGAIJE.Models.TipoArticulo



@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <div class="table-responsive">
            <table class=" table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                  

                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Descripcion)
                    </td>
                    

                    <td>
                        <button type="button" class="btn btn-primary" onclick="Editar('@Model.GenTipoArticuloKey')">Editar</button>
                        <button type="button" class="btn btn-danger" onclick="Eliminar('@Model.GenTipoArticuloKey')">Eliminar</button>
                        <button type="button" class="btn btn-default" onclick="Historial('@Model.GenTipoArticuloKey');">Historial</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>
<script>
    function Historial(id) {

        $.ajax({
            url:"/TipoArticulo/GetComentario/" + id,
            success: function (data) {
                $('#mdlHistorialContent').html(data);
                $('#mdlHistorial').modal('toggle');
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

</script>
