@model SGAIJE.Models.CatalogoArticulo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";}

<h3>¿Desea borrar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArticulo)
        </dd>




    </dl>
    @using (Html.BeginForm())
    {


        <div class="modal-footer">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
    }
</div>

